{
    "jsxSingleQuote": true,
    "singleQuote": true,
    "trailingComma": "es5",
    "tabWidth": 4,
    "semi": true,
    "printWidth": 100,
    "singleAttributePerLine": true,
    "arrowParens": "always",
    "plugins": ["@ianvs/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"],
    "tailwindStylesheet": "./apps/mobile/src/app/global.css"
}
