#This is an example of a .env file for the mobile app. You can create a .env.local file in the same directory and add your own values for the environment variables.
#EXPO_NO_METRO_WORKSPACE_ROOT is set to 1 to prevent Metro from looking for a workspace root, which can cause issues in monorepos. You can remove this line if you are not using a monorepo or if you have configured Metro to work with your workspace.
EXPO_NO_METRO_WORKSPACE_ROOT=1
EXPO_PUBLIC_USER_POOL_ID=USER_POOL_ID
EXPO_PUBLIC_USER_POOL_CLIENT_ID=USER_POOL_CLIENT_ID